<h1>Permissions</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Permissions</th>
  </tr>
  </thead>
  <tbody>
  <% @result.each do |r| %>
      <tr>
        <th><%= r %></th>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "back", users_path, class: 'btn btn-default' %>