<%# Error messages partial %>
<% if !msgError.blank? %>
    <label class="error-text">
      <% msgError.each do |m| %>
          <% if m == msgError[-1] %>
              <%= m %>
          <% elsif m == msgError[-2] %>
              <%= m %> and
          <% else %>
              <%= m %>,
          <% end %>
      <% end %></label>
<% end %>

